---
import Banner from "../../../components/Banner.astro";
import Image from "astro/components/Image.astro";
import Title from "../../../assets/titles/profil-joueur.webp"
import { slugify } from "../../../components/joueurs/joueurFormater";
import DiscordIcon from "../../../assets/icons/dicord_cube_icon.webp";
import Layout from "../../../layouts/Layout.astro";

// Type des données joueur
type JoueurType = {
    id: number;
    utilisateur_id: number | null;
    jeu: string;
    compte_id: string;
    premiere_co: string;
    derniere_co: string;
    playername: string;
};

// Props passées depuis getStaticPaths
const joueur: JoueurType | undefined = Astro.props.joueur;

// Génération des pages statiques
export async function getStaticPaths() {
    const apiUrl = 'https://otterlyapi.antredesloutres.fr/api/joueurs/';
    const response = await fetch(apiUrl);

    if (!response.ok) {
        throw new Error(`Erreur API joueurs: ${response.status}`);
    }

    const json = await response.json();

    if (!json.success || !Array.isArray(json.data)) return [];

    const joueurs: JoueurType[] = json.data;

    return joueurs
        .filter((joueur) => typeof joueur.playername === 'string' && joueur.playername.trim() !== '')
        .map((joueur) => {
            return {
                params: {
                    playername: slugify(joueur.playername),
                },
                props: {
                    joueur,
                },
            };
        });
}

const voyelles = ['a', 'e', 'i', 'o', 'u', 'y', 'h'];
let prefixe = "de ";

if (joueur && joueur.playername && voyelles.includes(joueur.playername[0].toLowerCase())) {
    prefixe = "d’";
}

let profilLink
let profilText
if (joueur.utilisateur_id !== null) {
    // Le compte joueur est lié à un profil discord
    // TODO : Le récupéré pour rediriger correctement vers le profil discord
    profilLink = `/profil/${joueur.utilisateur_id}`
    profilText = "Profil Discord"
} else {
    profilLink = `#`
    profilText = "Lier ce profil"
}
---

<Layout>
    <Banner  bannerUrl={`/banner/minecraft/la_vanilla.webp`} />
    <div class="page-title">
        <Image src={Title} alt="Titre" />
    </div>

    {joueur && (
        <div class="profile-container">
            <h1>Information du compte {prefixe}<span class="playername">{joueur.playername}</span></h1>

            <div class="profile-details">
                <div class="avatar">
                    <img src={`https://mc-heads.net/body/${joueur.playername}/128`} alt={`Avatar de ${joueur.playername}`} style="display: inline;" />
                </div>
                <div class="info-grid">
                    <h2>Informations</h2>
                    <div><strong>🆔 UUID :</strong><br /> {joueur.compte_id}</div>
                    <div><strong>🕹️ Jeu :</strong><br /> {joueur.jeu}</div>
                    <div><strong>📅 Première connexion :</strong><br /> {new Date(joueur.premiere_co).toLocaleDateString()}</div>
                    <div><strong>📅 Dernière connexion :</strong><br /> {new Date(joueur.derniere_co).toLocaleDateString()}</div>
                </div>
                <div class="info-grid">
                    <h2>Action</h2>
                    <button class="button-copy" onclick={`navigator.clipboard.writeText('${joueur.compte_id}')`}>
                        <img src={`https://mc-heads.net/avatar/${joueur.playername}/128`} alt="Copier UUID" />
                        Copier UUID
                    </button>
                    <a class="button-namemc" href={`https://fr.namemc.com/profile/${joueur.playername}`} target="_blank" rel="noopener noreferrer">
                        <img src="https://s.namemc.com/img/favicon-30.png" alt="NameMC" />
                        Profil NameMC
                    </a>
                    {profilLink !== "#" && (
                        <a class="button-namemc" href={`${profilLink}`}>
                            <Image src={DiscordIcon} alt="Discord" />
                            {profilText}
                        </a>
                    )}
                </div>
            </div>

            <h1>Statistiques {prefixe}<span class="playername">{joueur.playername}</span></h1>

            <div class="back-link">
                <a href="/classements/minecraft">← Retour à la liste des joueurs</a>
            </div>
        </div>
    )}

    <style>
        .page-title {
            margin-top: 50px;
            margin-bottom: 50px;
            align-items: center;
            display: flex;
            flex-direction: column;
        }
        @media (max-width: 768px) {
            .page-title {
                margin-top: 15px;
                margin-bottom: 15px;
            }
        }

        .profile-container {
            background: rgba(255 255 255 / 0.1);
            border-radius: 10px;
            text-align: center;
            font-family: Arial, sans-serif;
        }

        .profile-container h1 {
            background-color: #333;
            color: white;
            width: 100%;
            padding: 1rem;
            font-size: 1.5rem;
            font-weight: bold;
        }
        @media (max-width: 350px) {
            .profile-container h1 {
                font-size: 1.25rem;
            }
        }

        h2 {
            font-size: 1.2rem;
            font-weight: bold;
            text-align: center;
        }

        .playername {
            animation: colorShift 3s ease-in-out infinite;
        }
        @keyframes colorShift {
            0%   { color: #FFDDA0; }
            33%  { color: #FFB347; }
            66%  { color: #FF8C42; }
            100% { color: #FFDDA0; }
        }

        .profile-details {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr; /* 3 colonnes égales */
            gap: 1rem;
            align-items: flex-start;
            justify-items: center;
            padding: 2rem;
            background-color: snow;
        }

        .avatar, .info-grid {
            width: 100%;
            max-width: 300px;
        }
        @media (max-width: 768px) {
            .profile-details {
                grid-template-columns: 1fr;
                gap: 1rem;
            }

            .info-grid {
                text-align: center;
            }
        }

        .avatar {
            margin-bottom: 1rem;
        }

        .avatar img {
            width: 128px;
            height: auto;
            border-radius: 8px;
        }

        .info-grid {
            display: grid;
            grid-template-columns: 1fr;
            gap: 1rem;
            font-size: 0.9rem;
            text-align: left;
        }

        .back-link {
            margin-top: 2rem;
        }

        .back-link a {
            color: #1e40af;
            text-decoration: none;
            font-weight: bold;
        }

        .back-link a:hover {
            text-decoration: underline;
        }

        .button-copy,
        .button-namemc {
            display: inline-flex;
            align-items: center;
            gap: 0.5rem;
            background-color: #white;
            color: #000;
            padding: 0.5rem 1rem;
            margin: 0.25rem;
            border: 2px solid #000;
            border-radius: 5px;
            text-decoration: none;
            cursor: pointer;
            transition: background-color 0.3s ease;
            font-weight: bold;
            font-size: 0.9rem;
            text-align: center;
        }

        .button-copy img,
        .button-namemc img {
            width: 24px;
            height: 24px;
            border-radius: 4px;
        }

        .button-copy:hover,
        .button-namemc:hover {
            background-color: #000;
            color: #fff;
            border: 2px solid #333;
            animation: colorShift 3s ease-in-out infinite;
        }
    </style>
</Layout>
